{"filter":false,"title":".gitignore","tooltip":"/simple-webapp-color/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1655684953163,"hash":"e971762eb7f5eeea7a63a2e02978e8e82967cbda"}